In [1]:
from pyspark.sql import SQLContext

In [2]:
#Load the Walmart Stock CSV File, have Spark infer the data types
df=sqlContext.sql('SELECT * FROM walmart_stock_csv')

In [3]:
#What does the Schema look like?
df.printSchema()

In [4]:
df.show()

In [5]:
#Use describe() to learn about the DataFrame
df.describe().show()

In [6]:
#First 5 rows
df.head(5)

In [7]:
#Creating a seperate column 'HV ratio'
df2=df.withColumn('HV_ratio',df['High']/df['Volume'])
df2.show()

In [8]:
#What day had the Peak High in Price?
df.orderBy(df['high'].desc()).head(1)[0][0]

In [9]:
# Also could have gotten this from describe()
df.groupby().mean('close').show()

In [10]:
#What is the max and min of the Volume column?
df.groupby().min('Volume').show()

In [11]:
#Finding minimum value
df.groupby().max('Volume').show()

In [12]:
#How many days was the Close lower than 60 dollars?
df.filter(df['close']<60).count()

In [13]:
#What percentage of the time was the High greater than 80 dollars ?
df.filter((df['High'].count()/df.count())*100

In [14]:
#What is the Pearson correlation between High and Volume?
df.stat.corr("High","Volume")

In [15]:
#What is the max High per year?
from pyspark.sql.functions import year
df3=df.withColumn('year',year(df['Date']))
df3.show()

In [16]:
#What is the max High per year?
df3.groupby('year').max('High').show()

In [17]:
df3=df.withColumn('month',month(df['Date']))

In [18]:
#What is the max High per month?
df3.groupby('month').max('High').show()